app/backend/venv/
app/frontend/node_modules/
app/frontend/.next/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
**/*.so
**/*.egg
**/*.egg-info
**/dist/
**/build/
.env
.venv
.git
.gitignore
*.md
.DS_Store
**/data/
**/*.log

